@charset "UTF-8";
/* CSS Document */

@media (min-width: 1600px) {
  .container { max-width: 1520px; }
  .move-up { margin-top: -150px; }
  .main_banner { height: 50vh; min-height: 400px; }
}

@media (min-width: 992px) {
  .col-lg-8 .card_case .card-img-overlay .card-title { font-size: 250% !important; }
  .swiper_container .swiper-button-next { right: -4rem !important; }
  .swiper_container .swiper-button-prev { left: -4rem !important; }
  .project-image-wide { height: 520px; }
}

@media (max-width: 992px) {
  .lead, .lead + p { font-size: 1.25rem; }

  .navbar-collapse.collapsing, .navbar-collapse.collapse.show { margin: -1px; padding: 5px 0; }
  .navbar-collapse .navbar-nav { height: 100vh; }
  .navbar-collapse .navbar-nav .nav-item { width: 100%; }
  .navbar-collapse .navbar-nav .nav-item .nav-link { padding: 10px 15px !important; }
  
  *[class*="list-group-horizontal"] { display: inline-block; }
  *[class*="list-group-horizontal"] .list-group-item { display: inline-block !important; border-left: none; padding-left: .5rem; padding-right: .75rem; }

  .main_banner_home { height: 500px !important; top: var(--height-navbar-mobile); }
  .main_banner_about { height: auto !important; top: 0 !important; }
  .main_banner_home .background-video { top: -50%; left: -50%; width: 200%; height: 200%; }

  .main-title { top: var(--height-navbar-mobile); z-index: 120; }

  .card_case .card-img-overlay .card-text { font-size: 140% !important; }
  
  .swiper_container .swiper-button-next, .swiper_container .swiper-button-prev { display: none; }
  .project-image-wide { height: 30vh; }

}

@media (max-width: 768px) {
  .navbar { height: auto !important; padding-top: 0; padding-bottom: 0; }
  .navbar .navbar-brand { height: var(--height-navbar-mobile) !important; display: flex; align-items: center; }
  .navbar-nav .nav-link { padding-right: 0 !important; padding-left: 0 !important; background-color: none; }
  .navbar-collapse.collapsing, .navbar-collapse.collapse.show { margin: -1px; padding: 5px 0; }
  .navbar-collapse .navbar-nav { height: 100vh; }
  .navbar-collapse .navbar-nav .nav-item { width: 100%; }
  .navbar-collapse .navbar-nav .nav-item .nav-link { padding: 10px 15px !important; }

  .card_case .card-img-overlay { opacity: 1; }
  .card_case .card-frame img { filter: contrast(90%) brightness(75%); }
  .card_case .card-frame video { filter: contrast(90%) brightness(75%); }
}

@media (max-width: 568px) {
  .dropstart .dropdown-menu {
    width: calc(100vw - 64px) !important;
    margin-right: 40px !important;
    top: -1px;
    transform: translate3d(0px, 0px, 0px) !important;
  }
  .dropstart .dropdown-menu .dropdown-item {
    white-space: normal !important;
  }
}


